.cabecalho {
	position: fixed;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.cabecalho.visivel {
	transform: translateY(0);
}

.cabecalho.escondido {
	transform: translateY(-100%);
}

.titulo_academia {
	padding: 20px 0 20px 18px;
	font-size: 1.8rem;
	font-weight: 600;
	font-family: var(--fonte-principal);
	background-color: var(--cinza);
}

.titulo_academia_destaque {
	font-weight: 500;
	font-family: var(--fonte-segundaria);
	color: var(--azul-neon);
}

.cabecalho__nav__menu_hamburguer {
	position: absolute;
	cursor: pointer;
	border: none;
	background: none;
	z-index: 1;
	right: 15px;
	top: 15px;
}

.linhas_harburguer div {
	width: 32px;
	height: 2px;
	margin: 8px;
	transition: .5s;
	background: var(--branco-f5);
}

.linhas_harburguer.ativo .linha1 {
	transform: rotate(-45deg) translate(-8px, 8px);
	background-color: var(--branco-f5);
}

.linhas_harburguer.ativo .linha2 {
	transition: 0.1s;
	opacity: 0;
}

.linhas_harburguer.ativo .linha3 {
	transform: rotate(45deg) translate(-5px, -7px);
	background-color: var(--branco-f5);
}

.cabecalho__nav.ativo .nav-lista {
	pointer-events: all;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.cabecalho__nav.ativo .nav-lista a {
	opacity: 1;
}

.nav-lista {
	position: absolute;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
	transition: .4s ease-out;
	width: 100%;
	height: 100vh;
	padding-top: 20px;
	gap: 32px;
	font-size: 1.3rem;
	background: var(--cinza-trans);
}

.item_menu_hamburguer {
	width: max-content;
	color: var(--branco-f5);
}

.nav-lista__item {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity .5s ease, transform 0.5s ease;
}

.nav-lista.ativo .nav-lista__item {
	opacity: 1;
	transform: translateY(0);
}

.nav-lista.ativo li:nth-child(1) {
	transition-delay: .2s;
}

.nav-lista.ativo li:nth-child(2) {
	transition-delay: .3s;
}

.nav-lista.ativo li:nth-child(3) {
	transition-delay: .4s;
}