/* BLOCO INICIAL */
.container_principal {
  height: 400px;
  background-image: url("/public/images/pages/Home/Img_academia_fundo.jpeg");
}

.gradiente {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  background: rgb(94, 94, 94);
  background: linear-gradient(0deg, rgba(94, 94, 94, 1) 0%, rgba(94, 94, 94, 0.4990371148459384) 40%, rgba(94, 94, 94, 0) 75%, rgba(94, 94, 94, 0) 100%);
}

.div_texto_inicial {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.texto_inicial {
  padding-inline: 5vw;
  font-size: 1.3rem;
  font-weight: 500;
}

.texto_comecar {
  padding: 12px;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  color: var(--cinza);
  background-color: var(--branco-f5);
}

.texto_comecar:hover {
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
  color: var(--azul-neon);
  background-color: var(--cinza);
  text-shadow: 0 0 5px var(--azul-neon);
}

/* BLOCO SOBRE NOS */
.mais_sobre_nos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 72px;
  gap: 36px;
}

.div_texto_sobre_nos {
  display: flex;
  flex-direction: column;
  padding-inline: 6vw;
  gap: 16px;
}

.titulo_sobre_nos {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--azul-neon);
}

.paragrafo_sobre_nos {
  font-weight: 300;
  font-size: .9rem;
}

.bloco_mais_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  gap: 16px;
  padding: 32px 16px;
  border-radius: 8px;
  margin-inline: 6vw;
  background-color: var(--cinza);
}

.img_icon_mais_sobre {
  max-width: min-content;
}

.titulo_bloco_sobre {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--azul-neon);
}

/* BLOCO UNIDADE */
.carrossel {
  width: 100%;
}

.unidade {
  margin-top: 62px;
}

.titulo_texto_unidade {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: 6vw;
  gap: 16px;
}

.titulo_unidade {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--azul-neon);
}

.texto_unidade {
  font-weight: 300;
  font-size: .9rem;
  margin-bottom: 28px;
}

.imgs_unidade {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline: 6.1vw;
  border-radius: 18px;
  background: rgb(61, 61, 61);
  background: linear-gradient(0deg, rgba(61, 61, 61, 1) 0%, rgba(61, 61, 61, 1) 40%, rgba(61, 61, 61, 0.8995973389355743) 55%, rgba(61, 61, 61, 0.7511379551820728) 70%, rgba(61, 61, 61, 0) 100%);
}

.img_unidade {
  width: 280px;
  height: 160px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}